APP_NAME=Synapse User Manager
SECRET_KEY=CHANGE_ME_LONG_RANDOM_SECRET
DATABASE_URL=sqlite:///./data/synapse-user-manager.db
MATRIX_HOMESERVER=https://chat.iteko.su
MATRIX_SERVER_NAME=chat.iteko.su
MATRIX_ADMIN_TOKEN=CHANGE_ME
GLOBAL_ROOM_ID=!CHANGE_ME:chat.iteko.su
SMTP_HOST=mail.example.ru
SMTP_PORT=587
SMTP_USER=matrix@example.ru
SMTP_PASSWORD=CHANGE_ME
SMTP_STARTTLS=true
ADMIN_EMAIL=admin@example.ru
ADMIN_USERNAME=admin
ADMIN_PASSWORD=CHANGE_ME
